<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a href="#statement" class="pure-menu-link">Statement</a></li>
      <li class="pure-menu-item"><a href="#bio" class="pure-menu-link">Bio</a></li>
      <!-- <li class="pure-menu-item"><a href="#works" class="pure-menu-link">Works</a></li> -->
      <li class="pure-menu-item"><a href="#teaching" class="pure-menu-link">Teaching</a></li>
      <li class="pure-menu-item"><a href="Chris_Colatos_Résumé.pdf" target="Chris_Colatos_Résumé.pdf" class="pure-menu-link">Résumé</a></li>
      <li class="pure-menu-item"><a href="#contact" class="pure-menu-link">Contact</a></li>
    </ul>
  </div>
</div>
