---
layout: showcase
css: ['/assets/css/main.css', '/assets/css/blog.css']
---
<main class="l-box pure-u-1 pure-u-lg-1-2">
  <div>
    <div>
      <h1 class="post-title">{{ page.title }}</h1>
      <h3 class="post-subheader post-no-top-margin">{{ page.caption }}</h3>
      <h3 class="content-subhead post-no-top-margin"></h3>
      <!--
      {% if page.date %}
        <info datetime="{{ page.date }}">
          {{ page.date | date_to_string }}
        </info>
      {% endif %}
      -->
      <!-- Post content -->
      <div class="post-content">
        {% if page.picture %}
          <img class="pure-img-responsive" src="/media/pictures/{{ page.picture }}">
        {% endif %}
        {% if page.audio %}
          <audio controls autoplay>
            <source src="{{ page.audio }}">
            <p>Please update your browser to listen to Audio.</p>
          </audio>
        {% endif %}
        {% if page.video %}
          <video controls autoplay>
            <source src="{{ page.video }}">
            <p>Please update your browser to watch Video.</p>
          </video>
        {% endif %}
        {{ content }}
      </div>
      <!-- Post info -->
      <div>
        <!-- Categories-->
        <p>
        <i class="fa fa-tags" aria-hidden="true"></i>
        {% unless page.categories == empty %}
          {% for category in page.categories %} 
            <a href="/showcase/categories#{{ category }}-ref">
              {{ category | join: "/" }} ({{ site.categories[category].size }}){% unless forloop.last %},{% endunless %}
            </a>
          {% endfor %}
        {% endunless %}
        </p>

        <!-- 
        <p>
        <i class="" aria-hidden="true"></i>
        {% unless page.tags == empty %}
          {% for tag in page.tags %} 
            <a href="/notes/tags#{{ tag }}-ref">
            {{ tag }} ({{ site.tags[tag].size }}){% unless forloop.last %},{% endunless %}
            </a>
          {% endfor %}
        {% endunless %}
        </p>
        -->
      </div>
    </div>
  </div>
</main>